@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  background-color: #eef1f5;
}

a {
  color: #3f51b5;
}

a:hover {
  text-decoration: none;
}

header a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

#header #logo {
  flex-grow: 1;
}

#header .emoji {
  height: 1.5em;
  vertical-align: middle;
  padding-right: 0.25em;
}

#header .TableCount {
  padding: 1em;
  font-size: 0.8125rem;
}

#header .GitHub[type="button"] {
  margin-left: 0.7125em;
}

#header .GitHub img {
  height: 1.25em;
}

.GitHub.MuiIconButton-sizeSmall {
  padding: 0px;
}

body, h1, h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
}

/* Table Styling */

#CoffeeTable {
  cursor: pointer;
  display: flex;
}

.flexLoading {
  display: flex;
  height: 100%;
  margin: 0 auto;
}

.loading {
  align-self: center;
  margin: 0 auto;
  font-weight: bold;
  color: #3f51b5;
}

.MuiTableCell-head {
  font-weight: bold !important;
}

.MuiTableCell-root {
  min-width: 125px;
}

#CoffeeTable [class$="head"] {
  text-transform: capitalize;
}

#CoffeeTable [class$="head"] th:last-child {
  text-align: right;
}

/* Map Layout Styling */

#map {
  width: 100vw !important;
}

#CoffeeMap {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.MuiPaper-elevation1 {
  height: 89vh;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.MuiPaper-rounded {
  border-radius: 0px 0px 4px 4px !important;
}

.MuiAppBar-root {
  border-radius: 4px 4px 0px 0px;
}

/* Leaflet styling */

.leaflet-container a {
  color: #8a4b38 !important;
}

.leaflet-tooltip span {
  display: block;
  text-align: left;
}

.leaflet-pane.leaflet-tooltip-pane span:first-of-type {
  font-weight: bold;
}

.leaflet-container .leaflet-control-attribution {
  opacity: 0.75;
}

/* react-leaflet-markercluster overrides for CircleMarker */

.leaflet-marker-icon.marker-cluster.marker-cluster-small.leaflet-zoom-animated.leaflet-interactive {
  font-weight: bold !important;
  color: #000 !important;
}

.marker-cluster-small {
  background-color: rgb(102, 51, 0) !important;
}

.marker-cluster-small div {
  background-color: #dbccbd !important;
}

.marker-cluster-medium {
  background-color: rgb(102, 51, 0) !important;
}

.marker-cluster-medium div {
  background-color: #dbccbd !important;
}

.marker-cluster-large {
  background-color: rgb(102, 51, 0) !important;
}

.marker-cluster-large div {
  background-color: #dbccbd !important;
}

.marker-cluster-small:hover, .marker-cluster-medium:hover, .marker-cluster-large:hover {
  box-shadow: inset 0 0 0 25px #381c00 !important;
}

.leaflet-bean-icon {
  border: 0px !important;
  background-color: transparent !important;
}

.leaflet-marker-icon span {
  font-weight: 500;
  color: #000 !important;
}

.leaflet-marker-icon {
  opacity: 0.9 !important;
}

/* Mobile responsive breakpoints */

@media (max-width: 600px) {
  #header .emoji {
    height: 2em;
  }
  #header h6 {
    font-size: 0.9em;
  }
  .MuiPaper-rounded {
    border-radius: 4px !important;
  }
  .MuiButton-containedSizeSmall {
    font-size: 0.7125rem !important;
  }
  #header .TableCount {
    display: none;
  }
  #header #RoasterButtonMobile {
    display: none;
  }
  #CoffeeMap {
    height: 42vh;
  }
  #CoffeeTable {
    height: 58vh;
  }
  .leaflet-container {
    height: 42vh !important;
    overflow: hidden !important;
  }
}

/* fadeIn Animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}